.markdown-area * {
	margin: 0;
	padding: 0;
}

.markdown-area h1,
.markdown-area h2,
.markdown-area h3,
.markdown-area h4,
.markdown-area h5,
.markdown-area h6 {
	display: block;
	font-weight: bold;
}

.markdown-area h1 {
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}

.markdown-area h2 {
	font-size: 1.5em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
}


.markdown-area h3 {
	font-size: 1.17em;
	margin-top: 1em;
	margin-bottom: 1em;
}


.markdown-area h4 {
	margin-top: 1.33em;
	margin-bottom: 1.33em;
}


.markdown-area h5 {
	font-size: .83em;
	margin-top: 1.67em;
	margin-bottom: 1.67em;
}


.markdown-area h6 {
	font-size: .67em;
	margin-top: 2.33em;
	margin-bottom: 2.33em;
}

.markdown-area ul {
	display: block;
	list-style: disc;
	margin-top: 1em;
	margin-bottom: 1 em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 40px;
}

.markdown-area li {
	display: list-item;
}

.markdown-area a {
	color: initial;
	text-decoration: underline;
	cursor: auto;
}
